<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


<form #form='ngForm' (ngSubmit)="onSubmit(form)">
  <div class="form-group"> 
      <ejs-richtexteditor #fromRTE [(value)]='value' required name="name" [(ngModel)]="value" ></ejs-richtexteditor>
      <button type="submit" ejs-button>Submit</button>
  </div>
</form><br>
<ejs-richtexteditor></ejs-richtexteditor><br>

<ejs-richtexteditor #toolsRTE id='alltoolRTE' [toolbarSettings]='tools' >
</ejs-richtexteditor><br>
<ejs-richtexteditor id='defaultRTE' [(value)]='value' ></ejs-richtexteditor><br>

<router-outlet></router-outlet>
